body {
	background-color: #bee9e8;
	color: #233d4d;
}

/*go to coolors.co to find some colors u can use*/

.container
{background-color: #6096ba;
 padding: ;

  }

.container h1 {font-family: }